
.main-menu{
    position: absolute;
    left:10%;
    width:90%;
    display:flex;
    justify-content: end;
    z-index:99;
    padding:1%;
    font-size: 18px;
    color:rgb(179, 138, 16)
}

.about-section{
    padding: 0 2%;
}
.contact-section{
    padding: 0 2%;
}
.user-section{
    position:relative;
    padding: 0 2%;
}

.content-wrapper{
    width:25%;
}
.content{
    position:absolute;
    top:30%;
    width:30%;
    padding: 10px
}

.rating{
    font-size:30px;
    font-weight: 500;
    color:rgb(255, 153, 0)
}

.description{
    word-break: break-all;
    word-spacing: 1px;
    /* word-break: normal; */
}
.add-to-fav{
    width: 100%;
    height: 50px;
    color:white;
    font-size: 20px;
    font-weight: 500;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 10px 0 0 0;
}

.add-to-fav-btn{
    width:100%;
    background-color: rgb(238, 182, 13);
    padding:3%;
    border-radius: 10px;
}

.user-login{
    cursor: pointer;
}

.user-icon{
    font-size:30px;
}

.user-icon:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.user-dropdown{
    position:absolute;
    top:40px;
    right:30%;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    transition: 0.5s all;
}
.user-dropdown li{
    width:200px;
    font-size:15px;
    list-style: none; /* Remove dots from list items */
    padding:10px;
    transition: 0.5s all;
}

.user-dropdown li:hover{
    transform: scale(1.1);
    transition: 0.5s;   
    cursor: pointer;
}