.sidebar-container{
    position: relative;
    height: 100vh;
    width: 100px;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    transition: 0.5s;
    /* border-right: 1px solid rgb(224, 146, 43); */
}

.sidebar-container.expanded{
    position:relative;
    top:0%;
    background-color: rgb(224, 146, 43);
    width:300px;
    height: 100vh;
    transition: 0.5s;
}

/* Hamburger */
.hamburger{
    display: block;
    position: relative;
    width:100px;
    padding: 20px 0 16px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width:35px;
    height:3px;
    background-color: rgb(224, 146, 43);
    margin : 4px 0 4px 0;
    border-radius: 10px;
}

/* animation */
.hamburger:hover{
    cursor: pointer;
}

.cross{
    display: block;
    position: relative;
    width:100px;
    padding: 20px 0 27px 1px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cross .line:nth-child(1){
    background-color: white;
    transition: 1s;
    transform: rotate(45deg) translate(5px ,5px);
}

.cross .line:nth-child(2){
    background-color: white;
    transition: 1s;
    display: none;
}

.cross .line:nth-child(3){
    background-color: white;
    transition: 1s;
    transform: rotate(135deg) translate(-3px ,2.5px);
}

/* Sidebar */
.sidebar{
    position: relative;
    display:flex;
    flex-direction: column;
    /* width: 100px; */
    height: 100%;
    padding: 40px 0 0 20px;
    /* overflow: hidden; */
}
.sidebar-container.expanded .sidebar{
    position:relative;
    display:flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 0 0 20px;
}
.sidebar-item{
    display:flex;
    margin : 0 0 20px 20px;
    width : 100%;
    /* color: burlywood; */
}

.sidebar img:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: 0.2s;
}

.sidebar-item-icon{
    width:100px;
    display:flex;
    font-size: 25px;
    color:rgb(224, 146, 43)
}

.sidebar-item-icon img{
    width : 25px;
}

.sidebar-item-text{
    display:none;
}

.sidebar-container.expanded .sidebar-item-icon{
    color:white;
    /* width:100%; */
}

.sidebar-container.expanded .sidebar-item-text{
    display: block;
    color:white;
    display: flex;
    justify-content: flex-start;
    width:100%;
}