.product.card {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  border : 2px solid black;
}

.product.image{
    width : 100%;
}

.product.img{
    width : 100%;
}

.product.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}